.detbl
{
direction:ltr; border-spacing:0px;
border-collapse: collapse;
border: 0px none black;
}
.de_list
{
margin: 0;padding: 0;
}
div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p,
 div.description_on_page div.p a,
 .m-pageContent__side__header div.p,
 .m-pageContent__side__header div.p a,
 .m-pageContent__side__footer div.p,
 .m-pageContent__side__footer div.p a,
 .m-pageContent__side__right div.p,
 .m-pageContent__side__right div.p a,
 .m-pageContent__side__left div.p,
 .m-pageContent__side__left div.p a
{
font-family:"Arial";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:"Arial";
font-size: 13pt;color:#006600;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
h2
{
font-family:"Arial";
font-size: 12pt;color:#006600;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
span.code
{
font-family:"Courier New";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:"Georgia";
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
img.de_75F9C4A440
{
margin-top: 3px; margin-right: 3px; margin-bottom: 3px; margin-left: 3px;}
img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
img.de_D457E58A2E
{
margin-top: 0px; margin-right: 8px; margin-bottom: 8px; margin-left: 8px;}
span.de_1B1B5B5879
{
	font-family: "Arial";
	font-size: 12pt;
	color:#666666;
}
span.de_2EBFE5FCCE
{
	font-family: "Arial";
	font-size: 14pt;
	color:#434343;
}
span.de_45E825280E
{
	font-family: "Arial";
	font-size: 11pt;
	color:#ff0000;
}
span.de_4AF4BF9DD6
{
	font-family: "Arial";
	font-size: 11pt;
	color:#000000;
}
span.de_5383D053C4
{
	font-size: 9pt;
}
span.de_59A3B2E3FF
{
	font-family: "Times New Roman";
	font-size: 7pt;
	color:#000000;
}
span.de_8441C0A894
{
	font-family: "Arial";
	font-size: 11pt;
	color:#ff003c;
}
span.de_9AFAC8C8C6
{
	font-family: "Arial";
	font-size: 11pt;
	color:#1155cc;
	text-decoration:underline;
}
span.de_9C0C89005A
{
	font-family: "Arial";
	font-size: 11pt;
	color:#0000ff;
	font-style:italic;
}
span.de_B22A2C8F71
{
	font-family: "Arial";
	font-size: 11pt;
	color:#0000ff;
}
span.de_E0D79DE1AC
{
	font-family: "Arial";
	font-size: 11pt;
	color:#000000;
	font-style:italic;
}
.list-element {
	list-style-type: none;
}
